# ARF Ibex SoC on Arty A7-100T — default configuration (DRAFT)
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=20000000
CONFIG_SYS_CLOCK_TICKS_PER_SEC=100
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=n
CONFIG_XIP=n
